<article class="product">
    <script src="js/code.js"></script>
    <section class="product-media">
        <div class="image-main image-part">
            <i class="fas fa-times noneCloseBtn"></i>
            <i class="fas fa-expand-arrows-alt noneExpandBtn"></i>
            <img src="{{image}}" class="image-main-img">
        </div>
    </section>
    <section class="product-content">
        <header>
            <h2 class="product-title">{{name}}</h2>
        </header>
        <section class="product-content-inner">
            <p>{{description}}</p>
        </section>
    </section>
</article>